/* menu */
#menu {
    font-size: 0.9em;
    font-family: 'Segoe UI';
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
    padding: 0px;
    list-style: none;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    float: left;
    z-index: 1000;
}

    #menu a {
        color: #fff;
        text-decoration: none;
    }

    #menu > li {
        display: block;
        list-style: none;
        padding-left: 15px;
        background: #16a864 none repeat scroll 0 0;
        cursor: pointer;
        float: left;
        position: relative;
        padding: 0px 10px;
    }

        #menu > li a:hover {
            color: #B0D730;
        }


    #menu li a {
        background: none;
        color: #fff;
        text-decoration: none;
    }

        #menu li a:hover {
            color: #333;
            text-decoration: none;
        }

    #menu .logo {
        background: ;
        padding: 0px;
        }
    /* sub-menus*/
    #menu ul {
        padding: 0px;
        margin: 0px;
        display: inline-block;
    }

    #menu li ul {
        position: absolute;
        left: -10px;
        top: 0px;
        margin-top: 45px;
        width: 150px;
        line-height: 16px;
        background-color: #53b460; /*#16a864*/
        color: #53b460; /* for IE */
        display: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #menu li:hover ul {
        display: block;
    }

    #menu li ul li {
        display: block;
        margin: 5px 20px;
        padding: 5px 0px;
        border-top: dotted 1px #606060;
        list-style-type: none;
    }

        #menu li ul li:first-child {
            border-top: none;
        }

        #menu li ul li a {
            display: block;
            color: #fff;
        }

            #menu li ul li a:hover {
                color: #7FCDFE;
            }
    /* main submenu */
    #menu #main {
        left: 0px;
        top: -20px;
        padding-top: 20px;
        background-color: #7cb7e3;
        color: #fff;
        z-index: 999;
    }
/* search */
.searchContainer div {
    background-color: #fff;
    display: inline;
    padding: 5px;
}

.searchContainer input[type="text"] {
    border: none;
}

.searchContainer img {
    vertical-align: middle;
}
/* corners*/
#menu .corner_inset_left {
    position: absolute;
    top: 0px;
    left: -12px;
}

#menu .corner_inset_right {
    position: absolute;
    top: 0px;
    left: 150px;
}

#menu .last {
    background: transparent none repeat scroll 0% 0%;
    margin: 0px;
    padding: 0px;
    border: none;
    position: relative;
    border: none;
    height: 0px;
}

#menu .corner_left {
    position: absolute;
    left: 0px;
    top: 0px;
}

#menu .corner_right {
    position: absolute;
    left: 132px;
    top: 0px;
}

#menu .middle {
    position: absolute;
    left: 18px;
    height: 20px;
    width: 115px;
    top: 0px;
}
