
#CabFlash {
    position: absolute;
    top: 0px;
    left: 0px;
}

#CabImg {
    position: absolute;
    top: 0px;
    left: 0px;
}

#Cotizacion {
    border: 1px solid rgb(90, 90, 90);
    background: #dedada none repeat scroll 0% 50%;
    text-align: center;
    width: 120px;
    height: 100px;
    line-height: 100%;
    margin-left: 78px;
    margin-top:4px;
}

#ImgLogin {
  background-color: #E5E5E5;
  font-family: 'Droid Sans', sans-serif;
  border-radius: 9px;
  width: 215px;
  padding: 5px 5px;
  position: relative;
   margin-bottom: 10px;
  margin-left: 48px;
  color: #848484;
  z-index: 5;
}


    #ImgLogin .content {
        padding: 3px 3px 3px 8px;
    }

        #ImgLogin .content input[type="text"], #ImgLogin .content input[type="password"], #ImgLogin .content span {
      width: 202px;
      height: 23px;
      margin-bottom: 8px;
      margin-left: -6px;
      border-radius: 5px;
      font-size: 1em;
        }

        #ImgLogin .content img {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }

        #ImgLogin .content span {
				padding-left: 6px;
				margin-right: 164px;
				font-size: 13px;
        }

    #ImgLogin .header {
        text-align: center;
        height: 20px;
        margin-bottom: 10px;
    }


#ImgLoginBtnIr {
    width: 40px;
    height: 40px;
    top: 232px;
    left: 832px;
    z-index: 6;
    padding-left: 5px;
}

.CPO {
    position: absolute;
    font-size: 12px;
    top: 280px;
    left: 0px;
    background: url(imagenes/fondo-blanco.png) repeat-y;
    width: 1040px;
    z-index: 1;
}

.SinMargen {
    width: 550px;
    padding: 0px;
    margin: 0px;
}

.CONT {
    width: 950px;
    height: 150px;
    height: auto!important;
    min-height: 150px;
    margin: 40px 45px 10px;
}

.EnlacesCuerpo a {
    color: #00CC00;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 7px;
}

    .EnlacesCuerpo a:visited {
        color: #00CC00;
    }

    .EnlacesCuerpo a:hover {
        text-decoration: underline;
    }

.FAQS div {
    visibility: hidden;
    height: 0px;
}

.DER {
    padding: 3px;
    text-align: center;
}

    .DER img {
        margin: 4px 2px;
        /*float:left;*/
    }


.Clear {
    clear: both;
}

#map_canvas1 {
    width: 100%;
    height: 300px;
}
