/* menu */
#menu {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 500;
  text-align: right;
  list-style: none;
  color: #fff;
  display: inline-block;
  z-index: 9999;
}

    #menu a {
        color: #fff;
        text-decoration: none;
    }

    #menu > li {
        display: block;
        list-style: none;
        padding-left: 15px;
        cursor: pointer;
        float: left;
        position: relative;
        padding: 0px 11px;
        z-index: 9999;
        color: #606060;
    }


    #menu li a {
        background: none;
        color: #49B749;
        text-decoration: none;
        padding: 20px 0px 32px 0px;
    }

        #menu li a:hover {
            color: #fff;
            text-decoration: none;
        }

    #menu .logo {
        padding: 0px;
    }
    /* sub-menus*/
    #menu ul {
        padding: 0px;
        margin: 0px;
        display: inline-block;
    }

    #menu li ul {
position: absolute;
  margin-top: 45px;
  width: 150px;
  display: none;
    }

    #menu li:hover ul {
        display: block;
    }

    #menu li ul li {
        display: block;
        margin: 5px 20px;
        padding: 5px 0px;
        border-top: dotted 1px #606060;
        list-style-type: none;
    }

        #menu li ul li:first-child {
            border-top: none;
        }

        #menu li ul li a {
            display: block;
            color: #fff;
        }

            #menu li ul li a:hover {
                color: #7FCDFE;
            }
    /* main submenu */
    #menu #main {
        left: 0px;
        top: -20px;
        padding-top: 20px;
        background-color: #7cb7e3;
        color: #fff;
        z-index: 999;
    }
/* search */
.searchContainer div {
    background-color: #fff;
    display: inline;
    padding: 5px;
}

.searchContainer input[type="text"] {
    border: none;
}

.searchContainer img {
    vertical-align: middle;
}
/* corners*/
#menu .corner_inset_left {
    position: absolute;
    top: 0px;
    left: -12px;
}

#menu .corner_inset_right {
    position: absolute;
    top: 0px;
    left: 150px;
}

#menu .last {
    background: transparent none repeat scroll 0% 0%;
    margin: 0px;
    padding: 0px;
    border: none;
    position: relative;
    border: none;
    height: 0px;
}

#menu .corner_left {
    position: absolute;
    left: 0px;
    top: 0px;
}

#menu .corner_right {
    position: absolute;
    left: 132px;
    top: 0px;
}

#menu .middle {
    position: absolute;
    left: 18px;
    height: 20px;
    width: 115px;
    top: 0px;
}

.MNU {
    width: 190px;
    padding: 5px 18px;
    position: relative;
}

    .MNU > li {
        display: block;
        background: url(../images/item-menu.png) no-repeat right;
        font-size: 12px;
        text-align: left;
        color: #000000;
        text-decoration: none;
        height: 20px;
        width:100%;
        margin: 3px;
        padding-top: 4px;
    }

        .MNU a:visited {
            color: #000000;
        }

        .MNU a:hover {
            text-decoration: underline;
        }

    .MNU li ul {
        position:absolute;
        background: url(../images/fnd-submenu.png) no-repeat;
        background-position: 18px 0px;
        list-style: none;
        width: 226px;
        height: 108px;
        display: none;
        font-weight: bold;
        z-index: 2000;
        margin:3px;
        left:200px;
        margin-top:-3px;
    }

    /*.MNU a li:hover {
        display: block;
        background: none;
        font-size: 12px;
        text-align: left;
        color: #000000;
        text-decoration: none;
        height: auto;
        margin: 3px;
        padding-top: inherit;
    }*/

    .MNU li:hover ul{
        display: inline-block;
    }

    .MNU li ul li {
        padding-top:3px;
    }
/*.SubMNU {
    position: absolute;
    background: url(../images/fnd-submenu.png) no-repeat;
    background-position: 18px 0px;
    width: 226px;
    height: 108px;
    padding-left: 33px;
    display:none;
    font-weight: bold;
    z-index: 2000;
}

    .SubMNU a {
        display: block;
        background: none;
        font-size: 12px;
        text-align: left;
        color: #000000;
        text-decoration: none;
        height: auto;
        margin: 3px;
        padding-top: inherit;
    }*/
