html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    /*background-color: #fff;*/
    border-top: solid 0px #000;
    color: #000;
    font-size: .9em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
}

#body {
    clear: both;
    background-color: #fff;
    /*background: url(images/fondo.png) #5caadb repeat-x 50%;*/
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 15px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

footer {
    clear: both;
    background: #348634; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiMzNDg2MzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0NCUiIHN0b3AtY29sb3I9IiM1M2I1NDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MiUiIHN0b3AtY29sb3I9IiM1M2I1NDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiMzNDg2MzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #348634 15%, #53b546 44%, #53b546 52%, #348634 88%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#348634), color-stop(44%,#53b546), color-stop(52%,#53b546), color-stop(88%,#348634)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #348634 15%,#53b546 44%,#53b546 52%,#348634 88%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #348634 15%,#53b546 44%,#53b546 52%,#348634 88%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #348634 15%,#53b546 44%,#53b546 52%,#348634 88%); /* IE10+ */
    background: linear-gradient(to bottom, #348634 15%,#53b546 44%,#53b546 52%,#348634 88%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#348634', endColorstr='#348634',GradientType=0 ); /* IE6-8 */ /*background-image: url(../Images/PieEstira.png);
    background-repeat: repeat-x;*/ /*background-color: rgb(166, 187, 107);*/ /*#e2e2e2;*/
    font-size: .8em;
    height: 45px;
    color: #FFF;
    letter-spacing: 0.2em;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username {
            background: none;
            margin-left: 0px;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
/*ul#menu {
    font-size: 0.9em;
    font-family: 'Segoe UI';
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}*/

/*ul#menu li {
        display:block;
        list-style: none;
        padding-left: 15px;
    }*/

/*ul#menu li a {
            background: none;
            color: #fff;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }*/


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        padding: 0px 30px 5px 0px;
        /*background-color: #348634;
        background-image: -ms-linear-gradient(left, rgba(52, 134, 52, 0.8) 0%, #fff 100%);
        background-image: -o-linear-gradient(left, rgba(52, 134, 52, 0.8) 0%, #fff 100%);
        background-image: -webkit-gradient(linear, left center, right center, color-stop(0, rgba(52, 134, 52, 0.8)), color-stop(1, #fff));
        background-image: -webkit-linear-gradient(center, rgba(52, 134, 52, 0.8) 0%, #fff 100%);
        background-image: linear-gradient(left, rgba(52, 134, 52, 0.8) 0%, #fff 100%);*/
    }

    .featured hgroup.title h1, .featured hgroup.title h2 .featured hgroup.title h3 {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title {
    margin-left: 10px;
}

    hgroup.title h1, hgroup.title h2, hgroup.title h3 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 0.85em;
    float: left;
    padding-right: 5px;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 0.85em;
    margin: 0px 0 6px 0;
    padding: 3px;
}

textarea {
    font-family: inherit;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: left;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    /*article, aside {
        float: none;
        width: 100%;
    }*/

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }



    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
/* END: Mobile Styles */

/* Errores */

#Contactanos .vsErrores, #consultaMisDatos .vsErrores {
    border: solid 1px #CCC;
    background: #efefef;
    padding: 5px;
    font-size: 0.9em;
    color: red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
}

.Errores {
    font-size: 0.85em;
    color: red;
}

/* Fin: Errores*/

.grilla {
    color: #666; /*#7ac0da;*/
    font-size: 1em;
    font-family: Corbel;
    text-align: center;
}

    .grilla tbody tr th {
        border-top: 1px solid #53b460;
        border-left: 1px solid #53b460;
        border-right: 1px solid #53b460;
        /*border-bottom: 4px double #53b460;*/
        padding: 3px;
        background-color: #5bc669;
        text-align: center;
    }

    .grilla tbody tr, .grilla tbody tr td {
        border: 1px solid #53b460;
        padding: 3px;
        background-color: #93f29e;
    }

        .grilla tbody tr td img {
            max-height: 300px;
            max-width: 300px;
        }


/* Paneles de Banner */

.master-left, .master-right {
    max-width: 200px;
    float: left;
}

    .master-left a .master-right a {
        display: block;
        vertical-align: top;
    }

.master-left {
    max-height: 100px;
}

.master-right {
    float: right;
    max-width: 200px;
}

.banner {
    max-width: 200px;
    max-height: 200px;
}

.bannerRight {
    max-width: 120px;
    max-height: 120px;
}

/*.master-right {
    max-width: 200px;
    float:left;
}*/

.error {
    color: red;
    font-size: 1em;
}

.valorVerde, .valorAmarillo {
    position: relative;
    font-family: Verdana;
    font-weight: bold;
    font-size: 0.75em;
    z-index: 999999;
}

.valorVerde {
    margin-left: 102px;
    margin-top: 110px;
    color: #fff;
    top:-197px;
    left:-254px;
}

.valorAmarillo {
    margin-left: 74px;
    margin-top: 110px;
    color: #000;
    top:-197px;
    left:-147px;
}

.subBarraMenu {
    background-color: #dedada;
    height: 50px;
    margin-left: 40px;
    color: #2d5a2d;
    font-weight: bold;
    width: 100%;
}

    .subBarraMenu tbody tr {
        text-align: center;
    }

    .subBarraMenu a {
        text-decoration: none;
    }

        .subBarraMenu a img {
            padding: 10px 5px 0px 5px;
            height: 19px;
            width: 19px;
            margin-bottom: -3px;
        }

.promos .btnComprar {
    background-color: #c7c7c7;
    padding: 5px 15px 5px 15px;
    border: hidden;
    font-family: Verdana;
    position: relative;
    top:-40px;
    font-size: 0.6em;
    font-weight: bold;
}

    .promos .btnComprar:hover {
        background-color: #bde2c0;
    }

.promos .instructivo {
    font-size: 0.6em;
    position: relative;
    font-family: 'Segoe UI';
    font-weight: bold;
    top:-260px;
    left:100px;
}

.promos div div{
    align-items:center;
    display: block;
    float: left;
    width: 227px;
}

    .promos div div input[type="Image"] {
        padding: 5px;
        height: 270px;
        width: 227px;
        background-repeat: no-repeat;
        background-color: transparent;
        border: hidden;
    }

.tarjetas {
    background-color: #e5e5e5;
}

.news {
    text-align: left;
    padding-left: 60px;
}

    .news div {
        display: inline-block;
        padding: 5px 20px 20px 20px;
        width: 159px;
        vertical-align: top;
    }

        .news div h3 {
            padding: 0px 0px 4px 0px;
            margin: 0px;
            color: #195019;
            font-size: 0.9em;
            text-align: left;
        }

        .news div p {
            padding: 0px;
            margin: 0px;
            font-size: 0.8em;
            color: #195019;
        }

        .news div a {
            text-decoration: none;
            font-size: 0.8em;
            color: #195019;
        }

        .news div input[type="Image"] {
            margin-bottom: 0px;
            border: hidden;
            padding: 0px;
        }
