
#CabFlash {
    position: absolute;
    top: 0px;
    left: 0px;
}

#CabImg {
    position: absolute;
    top: 0px;
    left: 0px;
}

#Cotizacion {
    width: 248px;
    height: 85px;
    background-color: rgba(12, 224, 160, 0.8);
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    top: 120px;
    left: 130px;
}

#ImgLogin {
    position: absolute;
    background-color:  rgba(12, 224, 160, 0.8);
    border-radius: 10px;
    width: 470px;
    height: 40px;
    top: 165px;
    left: 400px;
    z-index: 5;
    padding: 5px;
}

    #ImgLogin div input[type="text"], #ImgLogin div input[type="password"] {
        width: 140px;
        height: 20px;
        padding: 0px;
        margin: 5px;
        font-size: 0.9em;
    }


#ImgLoginBtnIr {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 170px;
    left: 830px;
    z-index: 6;
    padding-left: 5px;
}

.CPO {
    position: absolute;
    font-size: 12px;
    top: 280px;
    left: 0px;
    background: url(imagenes/fondo-blanco.png) repeat-y;
    width: 1040px;
    z-index: 1;
}

.SinMargen {
    width: 550px;
    padding: 0px;
    margin: 0px;
}

.CONT {
    width: 950px;
    height: 150px;
    height: auto!important;
    min-height: 150px;
    margin: 40px 45px 10px;
}

.EnlacesCuerpo a {
    color: #00CC00;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 7px;
}

    .EnlacesCuerpo a:visited {
        color: #00CC00;
    }

    .EnlacesCuerpo a:hover {
        text-decoration: underline;
    }

.FAQS div {
    visibility: hidden;
    height: 0px;
}

.DER {
    padding: 3px;
    text-align: center;
}

    .DER img {
        margin: 4px 2px;
        /*float:left;*/
    }


.Clear {
    clear: both;
}

#map_canvas1 {
    width: 100%;
    height: 300px;
}
